# Ignore mac info files
.DS_Store

# ignore node things
node_modules/
npm-debug.log

# We do not really want to commit the package-lock at this time (could be send for prod apps)
package-lock.json

# tmp/ might be used by the mock-server to store some data. 
tmp/

# dev/ is where we put some developer peorsonal notes or data about this project
dev/

# this is a personal developer sandbox. We do not commit it. 
src/view/Sandbox/

# prevent the output files to be checked in 
web/js/*.js
web/css/*.css

# prevent the .map
*.map

# Ignore Sublime Text files
*.sublime-project
*.sublime-workspace