<script type="text/html" id="HomeView">
<div class="HomeView">
	
	<header>
		<h3 class="title">Upload a file</h3>
	</header>
	<section class="section-server-chart">
	</section>

	<section class="section-upload">
		<div class="upload-con">
			<div class="file-name"></div>
			<div class="action-con upload">
				<input type="file" class="file-choose hide" />
				<div class="btn btn-danger-secondary btn-choose">Choose File</div>
				<div class="btn btn-danger btn-go">Go</div>
			</div>
			<div class="action-con uploading">
				<div class="btn btn-secondary btn-cancel">Cancel</div>
			</div>
		</div>
		<div class="helper-text">
			Recommended size: 1-50MB
		</div>
	</section>
</div>
</script>