<div class="MainView">
	<header class="main-header">
		<div class="brand">
			<h1>Speed Test</h1>
			<h2>Speed Test Demo</h2>
		</div>
		<div class="flex-fill">
		</div>

		<div class="user-info">
		<div>
		</div>
	</header>

	<section class="main-frame">

		<div class="main-nav">
			<a href="#"><i>{{{symbol "ico-home"}}}</i><label>Home</label></a>		
			<a href="#summary"><i>{{{symbol "ico-folder"}}}</i><label>Summary</label></a>		
		</div>

		<div class="main-content">
		</div>
	</section>

</div>