<script id="NotificationView" type="text/html">
<div class="NotificationView">
</div>
</script>


<script id="NotificationView-item" type="text/html">
<div class="notif-ctn">
	<div class="notif-item {{type}}">
		<div class="notif-content">
		{{{content}}}
		</div>
	</div>
</div>
</script>