@import "../../pcss/utils.pcss";

.ServerChart{
	min-height: 250px;

	.link {
		fill: none;
		stroke: #5ca9a4;
		stroke-width: 2px;
	}

	.symbol{
		fill: #5ca9a4;
	}

	.virtual-progress{
		.progress-bg{
			fill: white;
			stroke: #56a6a0;
			stroke-width: 2;
		}
		.progress-fg{
			fill: #56a6a0;
		}
	}

	.standard-progress{
		.progress-bg{
			fill: white;
			stroke: #d3d3d3;
			stroke-width: 2;
		}
		.progress-fg{
			fill: #d3d3d3;
		}
	}
}